<!DOCTYPE html>
<html>
<head>
    <title>Bikeshare</title>
    <script src="https://d3js.org/d3.v3.js"></script>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

    
<body>
    <div id="map"> <img id = "mapBackground" src="{{ url_for("static", filename="DCMap.PNG") }}"> </div>
    <div id="filters"></div>
    <div id="inPlot"></div>
    <div id="outPlot"></div>

    <script type="text/javascript" src="{{ url_for("static", filename="Bikeshare.js") }}"></script>
</body>
</html>