<!DOCTYPE html>
<html>
<head>
<title>Bikeshare</title>
<script src="https://d3js.org/d3.v3.js"></script>
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
<style type="text/css">
        body {
            font-family: sans-serif;
            font-size: 11px;
        }
    
        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
    
</style>
    
<body>
    <svg id="container">
        <svg id="map"> 
                <!-- <img id = "mapBackground" src="{{ url_for("static", filename="DCMap.PNG") }}">  -->
        </svg>
        <svg id="filters"></svg>
        <svg id="inPlot"></svg>
        <svg id="outPlot"></svg>
    </svg>
                
           

    <script type="text/javascript" src="{{ url_for("static", filename="Bikeshare.js") }}"></script>
</body>
</html>